html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%; /* fixes IE's em resizing bug (god knows why...) */
    font: inherit;
    color: #000;
    vertical-align: baseline;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { 
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* Improve image quality when scaled in IE7 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

label {
    cursor: pointer;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer; /* Display hand cursor for clickable form elements */
    -webkit-appearance: button; /* Allow styling of clickable form elements in iOS */
}

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}
input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Remove inner padding and border in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
button::-moz-focus-inner, input::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
audio[controls], canvas, video {
    display: inline-block;
}

html {
    font-size: 100%; /* Correct text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove Android and iOS tap highlight color to prevent entire container being highlighted */
    -webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on device orientation change, without disabling user zoom www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    -ms-text-size-adjust: 100%;
}

:focus {
    outline: 0;
}
ins, a {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

::selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-moz-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-webkit-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-o-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-ms-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
/* =============================================================================
   =============================================================================
    YOUR STYLES GO HERE (original template from http://verekia.com/initializr/responsive-template)
   =============================================================================
   ========================================================================== */

/* ===================
    ALL: Orange Theme
   =================== */
body { 
    font:16px/24px Helvetica, Helvetica Neue, Arial, sans-serif;
    background-color: #F5F5F5;
}

h1, h2, h3 {
    margin: .5em 0;    
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    margin: .5em 0 .5em .5em;
}

.body {
    width:90%;
    margin:0 5%;
}

#header-container {
    border-bottom: 20px solid #ADFF2F;
}
#footer-container, #main aside {
    border-top: 20px solid #ADFF2F;
}

#header-container,
#footer-container,
#main aside {
    background:#696969;
}

#title {
    color:white;
}
[data-tooltip]:after { /* for better performance specify the element - e.g. span[data-tooltop] ..., markup has to be like: <span data-tooltip="tooltip">text</span> */
    transition:         all .25s;
    -webkit-transition: all .25s;
    -moz-transition:    all .25s;    
    -o-transition:      all .25s;
    display: inline;
    position: relative;
    left: 0;
    height: 100%;
    padding: 2%;
    border: 1px solid;
    opacity: 0;
    content: attr(data-tooltip);
}
[data-tooltip]:hover:after {
    left: 10px;
    opacity: 1;
}

::-moz-selection    { background: #ADFF2F; color: #fff; text-shadow: none; }
::-ms-selection     { background: #ADFF2F; color: #fff; text-shadow: none; }
::-o-selection      { background: #ADFF2F; color: #fff; text-shadow: none; }
::-webkit-selection { background: #ADFF2F; color: #fff; text-shadow: none; }
::selection         { background: #ADFF2F; color: #fff; text-shadow: none; }


a, section, header, footer, #title {
    transition:         all .25s;
    -webkit-transition: all .25s;
    -moz-transition:    all .25s;    
    -o-transition:      all .25s;
    left: 0;
    top: 0;
    opacity: 1;
}

section, header, footer {
    padding: 10px;
}

#header-container header {
    padding: 0;
}

a {
    color: #696969;
    border-bottom: #696969 dotted 1px;
}

a:hover {
    color: #000;
    border-bottom: #ADFF2F solid 1px;
}

section:hover, article > header:hover, article > footer:hover {
    position: relative;
    left: 10px;
    background-color: #E6E6FA;
}

#main > footer p, #main > aside p {
    color: #F5F5F5;
}
#main > footer h3, #main > aside h3 {
    color: #ADFF2F;
}

/* ==============
    MOBILE: Menu
   ============== */
nav a {
    display:block;
    margin-bottom:10px;
    padding:15px 0;
    background-color: #ADFF2F;
    color:white;
    text-align:center;
    font-weight:bold;
    border-bottom: none;
}

nav a:hover {
    color:white;
    border-bottom: none;
    background-color: #696969;
}

/* ==============
    MOBILE: Main
   ============== */
#main {
    padding:30px 0;
}

#main aside {
    color:white;
    padding:0px 5% 10px;
}
/* ==============
    MOBILE: Footer
   ============== */
footer a {
    color:white;
    border-bottom: 1px solid #ADFF2F;
}

footer a:hover {
    color:white;
    border-bottom: #696969 solid 1px;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 #title{ padding-top:20px; }
/* ==|== media queries ====================================================== */
@media only screen and (min-width: 480px) {
/* ====================
    INTERMEDIATE: Menu
   ==================== */
    nav a {
        float:left;
        width:27%;
        margin:0 1.7%;
        padding:25px 2%;
        margin-bottom:0;
    }
    
    nav a:hover {
        background-color: #ADFF2F;
        position: relative;
        top: 10px;
    }

    nav:hover a:not(:hover) {
        opacity: .6;
    }

    nav li:first-child a { margin-left:0;  }
    nav li:last-child  a { margin-right:0; }
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display:inline;
    }	

    .oldie nav a {
        margin:0 0.7%;		
    }
}
@media only screen and (min-width: 768px) {
/* ====================
    WIDE: CSS3 Effects
   ==================== */
	#header-container,
	#main aside {
            -webkit-box-shadow:0 5px 10px #aaa;
               -moz-box-shadow:0 5px 10px #aaa;
                    box-shadow:0 5px 10px #aaa;
	}
/* ============
    WIDE: Menu
   ============ */
    #title {
        float:left;
    }

    nav {
        float:right;
        width:38%;
    }
/* ============
    WIDE: Main
   ============ */
    #main article {
        float:left;
        width:57%;
    }

    #main aside {
        float:right;
        width:28%;
    }
}

@media only screen and (min-width: 1140px) {
/* ===============
    Maximal Width
   =============== */
	.wrapper {
            width:1026px; /* 1140px - 10% for margins */
            margin:0 auto;
	}
}
/* =============================================================================
   =============================================================================
    YOUR STYLES END HERE
   =============================================================================
   ========================================================================== */


/* =============================================================================
   Non-semantic helper classes
   ========================================================================== */
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* For IE and Opera use makeUnselectable.js */

/* Hide for both screenreaders and browsers css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/* replaces the obsolete <center> element */
.center {
    margin:0 auto;
}

/* 
 * prevent img, etc. from breaking your flexible layout; http://www.alistapart.com/articles/fluid-images/
 * use the AlphaImageLoader to teach IE how to scale PNGs correctly http://msdn.microsoft.com/en-us/library/ms532969.aspx (also see alistapart article above)
 */
img.fluid,
embed.fluid,
object.fluid,
video.fluid {
  max-width: 100%;
}

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}
