html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: #000;
    vertical-align: baseline;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { 
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* Improve image quality when scaled in IE7 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

label {
    cursor: pointer;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer; /* Display hand cursor for clickable form elements */
    -webkit-appearance: button; /* Allow styling of clickable form elements in iOS */
}

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}
input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Remove inner padding and border in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
button::-moz-focus-inner, input::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
audio[controls], canvas, video {
    display: inline-block;
}

html {
    font-size: 100%; /* Correct text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove Android and iOS tap highlight color to prevent entire container being highlighted */
    -webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on device orientation change, without disabling user zoom www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    -ms-text-size-adjust: 100%;
}

:focus {
    outline: 0;
}
ins, a {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

::selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-moz-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-webkit-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-o-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
::-ms-selection {
    background:#000000;
    color:#fff;
    text-shadow: none;
}
/* =============================================================================
   user styles
   ========================================================================== */
a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
}
a:hover {
    color: blue;
    border-bottom: 1px dotted blue;
}
a:active {
    color: blue;
    position: relative;
    top: 1px;
}
/* =============================================================================
   Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 768px) {
  /* Style adjustments for viewports 768px and under go here */

}

@media only screen and (max-width: 480px) {
  /* Style adjustments for viewports 480px and under go here */

}

/* =============================================================================
   Non-semantic helper classes
   ========================================================================== */
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* For IE and Opera use makeUnselectable.js */

/* Hide for both screenreaders and browsers css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}
