RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php/$1 [L]

# http://www.456bereastreet.com/archive/201103/x-ua-compatible_and_html5/
Header set X-UA-Compatible "IE=edge"